/* global.css */
:root {
  --color-primary: #1b63c2;
  --color-secondary: #fff5f1;
  --color-secondary-text: #a85222;
  --color-danger: #ba4747;
  --color-success: #065f46;
  --color-text-main: #4b4b4b;
  --color-text-muted: #646464;
  --color-bg-light: #f3f4f6;
  --color-card-bg: #ffffff;
  --color-tertiary: #04767e;
  --color-success-bg: #dcfce7;
}

body {
  background-color: var(--color-bg-light);
  font-family: "Inter", sans-serif;
}

/* Custom Scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Custom checkbox override to match the teal color in the sidebar */
.custom-checkbox:checked {
  background-color: #2f80ed;
  border-color: #2f80ed;
}
